<section class="container ">

     <div class="row p-5">

        @for (item of showMyFav; track $index) {
               
            <div class="col-md-3 gy-2 p-2 rounded-3 bg-privte">
                <div class="itm p-3 rounded-3">
                    <img [src]="item.imageCover" class="w-100 rounded-3" alt="tittle">
    
                    <h6 class="p-2 text-privte "> {{item.title}} </h6>
                    <div class="d-flex justify-content-between align-items-center">
            
                        <span class=""> {{item.price}} EGP</span>  
                        <i (click)="remove(item._id)" class="fa-solid fa-heart fs-4 cur"></i>      
                        <div class="p-2">
                            <span> <i class="fas fa-star star-color "> </i></span>
                            <span class=""> {{item.ratingsAverage}} </span>
                        </div>
    
                    </div>
                </div>
                
            </div>
        }
        

     </div>

</section>