.bg-privte{
    border: rgb(27, 195, 27) solid 2px;
}
.text-privte{
    color: rgb(27, 195, 27) ;
}
.star-color{
    color: rgb(248, 248, 65);
}
.fa-solid{
    color: rgb(165, 20, 20);
}
.itm:hover{
    border: rgb(165, 20, 20) solid 2px;
}
.cur{
    cursor: pointer;
}
.fa-solid:hover{
    color: black;
}